mediamosa-3x.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/">

    <!-- targetNamespace="http://mediamosa.org/schemas/3.0" -->
    <xs:annotation>
        <xs:documentation>
            Draft version of XML Schema for MediaMosa 3.x desired output, Tom Kuipers 
            Make this available online at http://mediamosa.org/schemas/3.0/mediamosa.xsd
            - minOccurs = 0 means optional. Default is 1 - maxOccurs = number of occurences.
            "unbounded" means as many occurences as wished. Default is 1
            - empty elements in example responses are made optional (minOccurs=0)
            - Dublin Core and Qualified Dublin Core already have schemas, http://dublincore.org/schemas/xmls/ why not use them?
              (dc:title, dc:description)
            - Same goes for Content-zoekprofiel, see http://www.edustandaard.nl/afspraken/001, maybe there's a XSD for it?
              Should we drop CZP, because it is not an international standard?
            - What is the unit used for disk/file sizes? Sometimes '_mb' (app_quota_mb) is used but not always e.g. 'filesize'. 
              Should we drop '_mb' and make a general remark that size is always expressed in MB?
            - How to handle various 'id','app_id','resultId' formats. Lets be consistent and use latest 'resultId' format?!
            - Elements 'owner' and 'owner_id' are both used. Please choose one. Previous remark change 'ownerd_id' -> 'ownerId'
            - Element 'value' isn't very desciptive, it's the value of what? 'value' is used as child of 'acl_app', is it actually an 'app_id'?
            - Fix typo in requests to /autorisation/* REST calls. Should be spelled 'authorization'
        </xs:documentation>
    </xs:annotation>
    
    <!-- <xs:import namespace="http://a9.com/-/spec/opensearch/1.1/" schemaLocation="opensearch.xsd"/> -->
    <xs:import namespace="http://a9.com/-/spec/opensearch/1.1/"/> 
    
    <!-- root element -->
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="HeaderType"/>
                <xs:element name="items" type="ItemsType"/>
            </xs:sequence>
            <xs:attribute name="version" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>

    <!-- simple elements for re-use-->
    <xs:element name="acl_app" type="xs:int"/>
    <xs:element name="acl_group_id" type="xs:int"/>
    <xs:element name="acl_group_name" type="xs:string"/>
    <xs:element name="acl_group_type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- what other group types are there? -->
                <xs:enumeration value="DOMAIN"/>
                <xs:enumeration value="REALM"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="action" type="xs:anyURI"/>
    <xs:element name="app_id">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="app_quota_mb">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="app_diskspace_used_mb">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="asset_id" type="xs:token"/>
    <xs:element name="audio_codec" type="xs:string"/>
    <xs:element name="bitrate" type="xs:int"/>
    <xs:element name="bpp" type="xs:float"/>
    <xs:element name="build" type="xs:int"/>
    <xs:element name="category" type="xs:boolean"/>
    <xs:element name="changed" type="xs:dateTime"/>
    <xs:element name="channels" type="xs:int"/>
    <xs:element name="class" type="xs:string"/>
    <xs:element name="code" type="xs:int"/>
    <xs:element name="coll_id" type="xs:token"/>
    <xs:element name="colorspace" type="xs:string"/>
    <xs:element name="command" type="xs:string"/>
    <xs:element name="container_type" type="xs:string"/>
    <xs:element name="content_type" type="xs:string"/><!-- string value? -->
    <xs:element name="contributor" type="xs:string"/>
    <xs:element name="coverage_spatial"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="coverage_temporal"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="created" type="xs:dateTime"/>
    <xs:element name="creator" type="xs:string"/>
    <xs:element name="date" type="xs:dateTime"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="description_abstract" type="xs:string"/>
    <xs:element name="download_url" type="xs:anyURI"/>
    <xs:element name="downloadable" type="xs:boolean"/><!-- was 'is_downloadable' -->
    <xs:element name="ega_still_url" type="xs:anyURI"/><!-- is the 'ega_' prefix meaningfull? -->
    <xs:element name="ega_view_url" type="xs:anyURI"/><!-- is the 'ega_' prefix meaningfull? -->
    <xs:element name="empty_asset" type="xs:boolean"/><!-- was 'is_empty_asset' -->
    <xs:element name="error_description" type="xs:string"/>
    <xs:element name="external" type="xs:boolean"/><!--  was 'is_external' -->
    <xs:element name="favorite" type="xs:boolean"/><!-- was 'is_favorite' -->
    <xs:element name="file_duration" type="xs:time"/>
    <xs:element name="file_extension" type="xs:string"/>
    <xs:element name="filename" type="xs:string"/>
    <xs:element name="filesize" type="xs:int"/><!-- what is the unit used, shouldn't this be 'filesize_mb'? -->
    <xs:element name="format" type="xs:string"/><!-- is this a string? -->
    <xs:element name="format_medium"/><!-- used in 'qualified_dublin_core' is this a string? -->
    <xs:element name="format_extent"/><!-- used in 'qualified_dublin_core' is this a string? -->
    <xs:element name="hasformat"/><!-- used in 'qualified_dublin_core' is this a boolean, can prefix 'has' be dropped? -->
    <xs:element name="fps" type="xs:float"/>
    <xs:element name="granted" type="xs:boolean"/> 
    <xs:element name="group_id"/><!-- I assumed this would be a string (token) not an int, right? -->
    <xs:element name="height" type="xs:int"/>
    <xs:element name="hinted" type="xs:boolean"/><!-- was 'is_hinted' -->
    <xs:element name="hostname" type="xs:string"/>
    <xs:element name="id" type="xs:int"/>
    <xs:element name="identifier"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="info" type="xs:string"/>
    <xs:element name="inserted_md" type="xs:boolean"/><!-- was 'is_inserted_md' -->
    <xs:element name="isformatof"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="isreferencedby"/><!-- used in 'qualified_dublin_core' is this a string? -->
    <xs:element name="issued" type="xs:dateTime"/>
    <xs:element name="job_id" type="xs:int"/>
    <xs:element name="job_type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- what other jobtypes are there? -->
                <xs:enumeration value="ANALYSE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="language" type="xs:language"/>
    <xs:element name="license"/><!-- used in 'qualified_dublin_core' is this a string? -->
    <xs:element name="mediafile_duration" type="xs:time"/>
    <xs:element name="mediafile_container_type" type="xs:string"/>
    <xs:element name="mediafile_id" type="xs:token"/>
    <xs:element name="mediafiles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mediafile" type="MediafileDetailsType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="message" type="xs:string"/>
    <xs:element name="metadata" type="MetadataType"/>
    <xs:element name="mime_type" type="xs:string"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="numofvideos" type="xs:long"/>
    <xs:element name="oai_prefix" type="xs:string"/><!-- string value? -->
    <xs:element name="oai_namespaceuri" type="xs:string"/><!-- string value or anyUri? -->
    <xs:element name="oai_schemalocation" type="xs:string"/><!-- string value or anyUri? -->
    <xs:element name="original_file" type="xs:boolean"/>
    <xs:element name="output" type="xs:string"/>
    <xs:element name="owner" type="xs:string"/>
    <xs:element name="owner_id" type="xs:string"/>
    <xs:element name="play_proxy_url" type="xs:anyURI"/>
    <xs:element name="play_restriction_start" type="xs:dateTime"/>
    <xs:element name="play_restriction_end" type="xs:dateTime"/>
    <xs:element name="played" type="xs:int"/><!-- restriction minInclusive 0, or just empty when never watched? -->
    <xs:element name="private" type="xs:boolean"/><!-- is_private, isprivate or private (my vote) be consequent, drop prefix 'is' -->
    <xs:element name="priority" type="xs:int"/>
    <xs:element name="progress" type="xs:float"/>
    <xs:element name="progress_id" type="xs:int"/><!-- is there a maximun value for this, e.g. more than int maxinclusive 2147483647  -->
    <xs:element name="protected"><!-- was 'is_protected' , example response is string! value 'DOMAIN_REALM' (enumeration?) -->
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- what other types are there? -->
                <xs:enumeration value="DOMAIN_REALM"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="provider_id"/><!-- don't know what to expect here, type/xs:restriction not specified, can be xs:string or xs:int -->
    <xs:element name="public" type="xs:boolean"/>
    <xs:element name="public_assign" type="xs:boolean"/>
    <xs:element name="publisher" type="xs:string"/>
    <xs:element name="quota_available_mb">
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="reference_id" type="xs:token"/><!-- not sure what to expect here, assumed a string value -->
    <xs:element name="relation"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="result" type="xs:string"/>
    <xs:element name="resultDescription" type="xs:string"/>
    <xs:element name="resultId" type="xs:int"/>
    <xs:element name="rights"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="rightsholder"/><!-- used in 'qualified_dublin_core' is this a string? -->
    <xs:element name="sample_rate" type="xs:int"/>
    <xs:element name="source"/><!-- used in 'dublin_core', is this a string? -->
    <xs:element name="started" type="xs:dateTime"/>
    <xs:element name="started_unix" type="xs:long"/>
    <xs:element name="status">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- what other statuses are there? -->
                <xs:enumeration value="FINISHED"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="still_id" type="xs:token"/>
    <xs:element name="streamable_mediafiles" type="xs:boolean"/><!-- was 'has_streamable_mediafiles' -->
    <xs:element name="subject" type="xs:string"/>
    <xs:element name="supplement_id" type="xs:token"/><!-- or token (xs:MNTOKEN) -->
    <xs:element name="supplement_base64" type="xs:base64Binary"/>
    <xs:element name="tag" type="xs:string"/><!-- not sure what to expect here, assumed a string value -->
    <xs:element name="ticket_id" type="xs:token"/>
    <xs:element name="title" type="xs:string"/>
    <xs:element name="title_alternative" type="xs:string"/>
    <xs:element name="tool" type="xs:string"/>
    <xs:element name="transcode_inherits_acl" type="xs:boolean"/>
    <xs:element name="transcode_profile_id" type="xs:int"/>
    <xs:element name="type" type="xs:string"/><!-- 'type' in 'dublin_core' string, or enumeration, fixed set of types? required or optional -->
    <xs:element name="unappropriate" type="xs:boolean"/><!-- was 'is_unappropiate'/'is_unappropriate' -->
    <xs:element name="uploadprogress_url" type="xs:anyURI"/>
    <xs:element name="uri" type="xs:anyURI"/>
    <xs:element name="version" type="xs:string"/>
    <xs:element name="video_codec" type="xs:string"/>
    <xs:element name="videotimestamp" type="xs:dateTime"/>
    <xs:element name="videotimestampmodified" type="xs:dateTime"/>
    <xs:element name="view_asset_url" type="xs:anyURI"/>
    <xs:element name="viewed" type="xs:int"/><!-- restriction minInclusive 0, or just empty when never watched? -->
    <xs:element name="vpx_still_url" type="xs:anyURI"/><!-- is the 'vpx_' prefix meaningfull? -->
    <xs:element name="width" type="xs:int"/>
    
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="request" type="RequestType"/>
            <xs:element name="debug" type="DebugType" minOccurs="0"/><!-- is this always present? -->
            <xs:element name="version" type="xs:string"/>
            <!-- made this string because it also includes buildnumber and is not a decimal like the version attribute -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequestType">
        <xs:sequence>
            <xs:element ref="resultId"/>
            <xs:element ref="result"/>
            <xs:element ref="resultDescription"/><!-- don't know what to expect here, xs:restriction not specified -->
            <xs:element name="method">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- possible values should be listed here -->
                        <xs:enumeration value="GET"/>
                        <xs:enumeration value="POST"/>
                        <xs:enumeration value="PUT"/>
                        <xs:enumeration value="DELETE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="uri">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="time">
                <xs:simpleType>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DebugType">
        <xs:sequence>
            <xs:element ref="class"/>
            <xs:element name="matched" type="MatchedType"/>
            <xs:element name="errors">
                <!-- don't know what to expect here, xs:restriction not specified -->
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MatchedType">
        <xs:sequence>
            <xs:element name="method">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <!-- possible values should be listed here -->
                        <xs:enumeration value="GET"/>
                        <xs:enumeration value="POST"/>
                        <xs:enumeration value="PUT"/>
                        <xs:enumeration value="DELETE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="uri">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ItemsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="app" type="AppType"/>
            <xs:element name="app_quota" type="AppQuotaType"/>
            <!-- the example XML uses 'asset' but this can be 'mediafile', 'user' etc.  -->
            <xs:element name="asset" type="AssetType"/>
            
            <xs:element name="errorcode" type="ErrorcodeType"/>
            
            <xs:element name="version" type="VersionType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="DublinCoreType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <dublin_core>
                    <type>Video</type>
                    <language>EN</language>
                    <title>kurkentrekker.mpg</title>
                    <creator>naa</creator>
                    <publisher>naa</publisher>
                    <description>this kurkentrekker.mpg of naa was n/naa/mpeg/kurkentrekker.mpg</description>
                    <date>2004-09-10 22:22:08</date>
                    <format></format>
                    <subject></subject>
                    <contributor></contributor>
                    <identifier></identifier>
                    <source></source>
                    <relation></relation>
                    <coverage_temporal></coverage_temporal>
                    <coverage_spatial></coverage_spatial>
                    <rights></rights>
                </dublin_core>
                ]]>                
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="type" minOccurs="0"/>
            <xs:element ref="language" minOccurs="0"/>
            <xs:element ref="title" minOccurs="0"/>
            <xs:element ref="creator" minOccurs="0"/>
            <xs:element ref="publisher" minOccurs="0"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="date"/>
            <xs:element ref="format" minOccurs="0"/>
            <xs:element ref="subject" minOccurs="0"/>
            <xs:element ref="contributor" minOccurs="0"/>
            <xs:element ref="identifier" minOccurs="0"/>
            <xs:element ref="source" minOccurs="0"/>
            <xs:element ref="relation" minOccurs="0"/>
            <xs:element ref="coverage_temporal" minOccurs="0"/>
            <xs:element ref="coverage_spatial" minOccurs="0"/>
            <xs:element ref="rights" minOccurs="0"/>
        </xs:sequence>        
    </xs:complexType>

    <xs:complexType name="QualifiedDublinCoreType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <qualified_dublin_core>
                    <title_alternative></title_alternative>
                    <description_abstract></description_abstract>
                    <created></created>
                    <issued></issued>
                    <hasformat></hasformat>
                    <isformatof></isformatof>
                    <format_medium></format_medium>
                    <format_extent></format_extent>
                    <license></license>
                    <rightsholder></rightsholder>
                    <isreferencedby></isreferencedby>
                </qualified_dublin_core>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="title_alternative" minOccurs="0"/>
            <xs:element ref="description_abstract" minOccurs="0"/>
            <xs:element ref="created" minOccurs="0"/>
            <xs:element ref="issued" minOccurs="0"/>
            <xs:element ref="hasformat" minOccurs="0"/>
            <xs:element ref="isformatof" minOccurs="0"/>
            <xs:element ref="format_medium" minOccurs="0"/>
            <xs:element ref="format_extent" minOccurs="0"/>
            <xs:element ref="license" minOccurs="0"/>
            <xs:element ref="rightsholder" minOccurs="0"/>
            <xs:element ref="isreferencedby" minOccurs="0"/>
        </xs:sequence>
        
    </xs:complexType>

    <xs:complexType name="CzpType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <czp>
                    <schemanaam>http://your_wle/</schemanaam>
                    <identificatiecode>http://your_wle/asset/M9FyEFTVy0zFzpbOv7DaEH4U</identificatiecode>
                    <titel></titel>
                    <taal></taal>
                    <beschrijving></beschrijving>
                    <sleutelwoord></sleutelwoord>
                    <aggregatieniveau>niveau</aggregatieniveau>
                    <versie>x</versie>
                    <status>final</status>
                    <soort_leermateriaal>Evaluatie- en toetsmateriaal</soort_leermateriaal>
                    <beoogde_eindgebruiker>Auteur</beoogde_eindgebruiker>
                    <context>VVE</context>
                    <beoogde_leeftijdsgroep></beoogde_leeftijdsgroep>
                    <kosten>nee</kosten>
                    <auteursrechten>Ja</auteursrechten>
                    <omschrijving_rechten>x</omschrijving_rechten>
                    <classificatie>x</classificatie>
                </czp>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- did this inline because it might get deprecated in the end -->
            <xs:element name="schemanaam" type="xs:string" minOccurs="0"/>
            <xs:element name="identificatiecode" type="xs:anyURI" minOccurs="0"/>
            <xs:element name="titel" type="xs:string" minOccurs="0"/>
            <xs:element name="taal" type="xs:string" minOccurs="0"/>
            <xs:element name="beschrijving" type="xs:string" minOccurs="0"/>
            <xs:element name="sleutelwoord" type="xs:string" minOccurs="0"/>
            <xs:element name="aggregatieniveau" type="xs:string" minOccurs="0"/>
            <xs:element name="versie" type="xs:string" minOccurs="0"/>
            <xs:element name="status"/><!-- already used in other context, the need for namespacing is evident! -->
            <xs:element name="soort_leermateriaal" type="xs:string" minOccurs="0"/>
            <xs:element name="beoogde_eindgebruiker" type="xs:string" minOccurs="0"/>
            <xs:element name="context" type="xs:string" minOccurs="0"/>
            <xs:element name="beoogde_leeftijdsgroep" type="xs:string" minOccurs="0"/>
            <xs:element name="kosten" type="xs:string" minOccurs="0"/><!-- string or boolean? -->
            <xs:element name="auteursrechten" type="xs:string" minOccurs="0"/><!-- string or boolean? -->
            <xs:element name="omschrijving_rechten" type="xs:string" minOccurs="0"/>
            <xs:element name="classificatie" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MediafileDetailsType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <mediafile id="1">
        <mediafile_id>9PIxRij3YGRgenkyjwOT7zyS</mediafile_id>
        <asset_id>M9FyEFTVy0zFzpbOv7DaEH4U</asset_id>
        <app_id>4</app_id>
        <owner_id>owner</owner_id>
        <group_id></group_id>
        <is_original_file>TRUE</is_original_file>
        <is_downloadable>FALSE</is_downloadable>
        <filename>testfilename.wmv</filename>
        <uri></uri>
        <transcode_profile_id></transcode_profile_id>
        <tool></tool>
        <command></command>
        <file_extension></file_extension>
        <is_protected>FALSE</is_protected>
        <created>2009-09-22 14:42:03</created>
        <changed>2009-09-23 14:40:02</changed>
        <transcode_inherits_acl>FALSE</transcode_inherits_acl>
        <mediafile_source></mediafile_source>
        <tag>test</tag>
        <is_streamable>FALSE</is_streamable>
        <is_still>FALSE</is_still>
        <metadata>
          <video_codec>wmv3</video_codec>
          <colorspace>yuv420p</colorspace>
          <width>384</width>
          <height>288</height>
          <fps>25</fps>
          <audio_codec>wmav2</audio_codec>
          <sample_rate>44100</sample_rate>
          <channels>2</channels>
          <file_duration>00:00:45.7</file_duration>
          <container_type>asf</container_type>
          <bitrate>1023</bitrate>
          <bpp>0.37</bpp>
          <filesize>5851382</filesize>
          <mime_type>video/x-ms-asf</mime_type>
          <created>2009-10-12 16:48:33</created>
          <changed>2009-10-12 16:48:33</changed>
          <is_hinted>FALSE</is_hinted>
          <is_inserted_md>FALSE</is_inserted_md>
        </metadata>
        <ega_download_url></ega_download_url>
        <ega_play_url>http://your_ega_play_url/play/M9FyEFTVy0zFzpbOv7DaEH4U/9PIxRij3YGRgenkyjwOT7zyS/19697</ega_play_url>
        <ega_stream_url>http://your_stream_url/M9FyEFTVy0zFzpbOv7DaEH4U/9PIxRij3YGRgenkyjwOT7zyS/19697</ega_stream_url>
      </mediafile>
      <mediafile id="2">
        <mediafile_id>2vi8R0dDLXyCKE3vC6qYL2bG</mediafile_id>
        <asset_id>M9FyEFTVy0zFzpbOv7DaEH4U</asset_id>
        <app_id>4</app_id>
        <owner_id>owner</owner_id>
        <group_id></group_id>
        <is_original_file>FALSE</is_original_file>
        <is_downloadable>FALSE</is_downloadable>
        <filename>testvideo.flv</filename>
        <uri></uri>
        <transcode_profile_id>2</transcode_profile_id>
        <tool>ffmpeg</tool>
        <command>videobitrate:200000;size:320x240;audiosamplingrate:22050;maintain_aspect_ratio:yes;padding:no</command>
        <file_extension>flv</file_extension>
        <is_protected>FALSE</is_protected>
        <created>2009-09-22 14:42:30</created>
        <changed>2009-09-22 15:19:49</changed>
        <transcode_inherits_acl>FALSE</transcode_inherits_acl>
        <mediafile_source></mediafile_source>
        <tag>transcoded</tag>
        <is_streamable>FALSE</is_streamable>
        <is_still>FALSE</is_still>
        <metadata>
          <video_codec>flv</video_codec>
          <colorspace>yuv420p</colorspace>
          <width>320</width>
          <height>240</height>
          <fps>25</fps>
          <audio_codec>mp3</audio_codec>
          <sample_rate>22050</sample_rate>
          <channels>1</channels>
          <file_duration>00:00:45.6</file_duration>
          <container_type>flv</container_type>
          <bitrate>200</bitrate>
          <bpp>0.1</bpp>
          <filesize>1828989</filesize>
          <mime_type>video/x-flv</mime_type>
          <created>2009-10-12 16:48:33</created>
          <changed>2009-10-12 16:48:33</changed>
          <is_hinted>FALSE</is_hinted>
          <is_inserted_md>TRUE</is_inserted_md>
        </metadata>
        <ega_download_url></ega_download_url>
        <ega_play_url>http://your_ega_play_url/play/M9FyEFTVy0zFzpbOv7DaEH4U/2vi8R0dDLXyCKE3vC6qYL2bG/19697.flv</ega_play_url>
        <ega_stream_url>http://your_stream_url/M9FyEFTVy0zFzpbOv7DaEH4U/2vi8R0dDLXyCKE3vC6qYL2bG/19697.flv</ega_stream_url>
      </mediafile>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mediafile_id"/>
            <xs:element ref="asset_id"/>
            <xs:element ref="app_id"/>
            <xs:element ref="owner_id"/>
            <xs:element ref="group_id" minOccurs="0"/>
            <xs:element ref="original_file"/><!-- was 'is_original_file' -->
            <xs:element ref="downloadable"/><!-- was 'is_downloadable' -->
            <xs:element ref="filename"/>
            <xs:element ref="uri" minOccurs="0"/>
            <xs:element ref="transcode_profile_id" minOccurs="0"/>
            <xs:element ref="tool" minOccurs="0"/>
            <xs:element ref="command" minOccurs="0"/>
            <xs:element ref="file_extension" minOccurs="0"/>
            <xs:element ref="protected" minOccurs="0"/><!-- was 'is_protected' and boolean, but element is also used for string values?! -->
            <xs:element ref="created"/>
            <xs:element ref="changed"/><!-- never optional? -->
            <xs:element ref="transcode_inherits_acl"/>
            <xs:element ref="metadata"/>
                    
             
                <xs:element name="ega_download_url">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ega_stream_url">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        
        
        
        
    </xs:complexType>

    <xs:complexType name="MetadataType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <metadata>
                    <video_codec>flv</video_codec>
                    <colorspace>yuv420p</colorspace>
                    <width>320</width>
                    <height>240</height>
                    <fps>25</fps>
                    <audio_codec>mp3</audio_codec>
                    <sample_rate>22050</sample_rate>
                    <channels>1</channels>
                    <file_duration>00:00:45.6</file_duration>
                    <container_type>flv</container_type>
                    <bitrate>200</bitrate>
                    <bpp>0.1</bpp>
                    <filesize>1828989</filesize>
                    <mime_type>video/x-flv</mime_type>
                    <created>2009-10-12 16:48:33</created>
                    <changed>2009-10-12 16:48:33</changed>
                    <is_hinted>FALSE</is_hinted>
                    <is_inserted_md>TRUE</is_inserted_md>
                </metadata>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="video_codec"/>
            <xs:element ref="colorspace"/>
            <xs:element ref="width"/>
            <xs:element ref="height"/>
            <xs:element ref="fps"/>
            <xs:element ref="audio_codec"/>
            <xs:element ref="sample_rate"/>
            <xs:element ref="channels"/>
            <xs:element ref="file_duration"/>
            <xs:element ref="container_type"/>
            <xs:element ref="bitrate"/>
            <xs:element ref="bpp"/>
            <xs:element ref="filesize"/><!-- shouldn't this be 'filesize_mb' or drop '_mb' in other occurences -->
            <xs:element ref="mime_type"/>
            <xs:element ref="created"/>
            <xs:element ref="changed"/>
            <xs:element ref="hinted"/><!-- was 'is_hinted' -->
            <xs:element ref="inserted_md"/><!-- was 'is_inserted_md', dropped 'is_' prefix -->
        </xs:sequence>
    </xs:complexType>

    <!-- /acl/app [GET] -->
    <xs:complexType name="AppType">
        <xs:annotation>
            <xs:documentation>
                /acl/app [GET]
                <![CDATA[
                <item id="1">
                    <app_id>3</app_id>
                    <name>NIBG</name>
                    <play_proxy_url>http://videotheek_5_.hiero.nl/play/{asset_id}/{mediafile_id}/{mediafile_filename}</play_proxy_url>
                    <view_asset_url>http://videotheek_5_.hiero.nl/viewasset/{asset_id}</view_asset_url>
                    <download_url>http://download_5_url/{asset_id}/{mediafile_id}/{mediafile_filename}</download_url>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="app_id"/>
            <xs:element ref="name"/>
            <xs:element ref="play_proxy_url"/>
            <xs:element ref="view_asset_url"/>
            <xs:element ref="download_url"/>
        </xs:sequence>
    
    </xs:complexType>
    
    <!-- /app/quota [GET] -->
    <xs:complexType name="AppQuotaType">
        <xs:annotation>
            <xs:documentation>
                /app/quota [GET]
                <![CDATA[
                <item id="1">
                    <app_quota_mb>153600</app_quota_mb>
                    <app_diskspace_used_mb>2094</app_diskspace_used_mb>
                    <quota_available_mb>151506</quota_available_mb>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="app_quota_mb"/>
            <xs:element ref="app_diskspace_used_mb"/>
            <xs:element ref="quota_available_mb"/>
        </xs:sequence>
        
    </xs:complexType>
    
    <!-- /asset [GET] and /collection/$coll_id/asset [GET]-->
    <xs:complexType name="AssetType">
        <xs:annotation>
            <xs:documentation>
               <![CDATA[
                <item id="1">
                    <asset_id>10061</asset_id>
                    <app_id>1</app_id>
                    <provider_id></provider_id>
                    <owner_id>av-user-naa</owner_id>
                    <group_id>beeldengeluid</group_id>
                    <videotimestamp>2004-09-10 22:22:08</videotimestamp>
                    <videotimestampmodified>2004-09-10 22:22:08</videotimestampmodified>
                    <play_restriction_start></play_restriction_start>
                    <play_restriction_end></play_restriction_end>
                    <reference_id></reference_id>
                    <isprivate>FALSE</isprivate>
                    <is_protected>FALSE</is_protected>
                    <dublin_core>
                        <type>Video</type>
                        <language>EN</language>
                        <title>kurkentrekker.mpg</title>
                        <creator>naa</creator>
                        <publisher>naa</publisher>
                        <description>this kurkentrekker.mpg of naa was n/naa/mpeg/kurkentrekker.mpg</description>
                        <date>2004-09-10 22:22:08</date>
                        <format></format>
                        <subject></subject>
                        <contributor></contributor>
                        <identifier></identifier>
                        <source></source>
                        <relation></relation>
                        <coverage_temporal></coverage_temporal>
                        <coverage_spatial></coverage_spatial>
                        <rights></rights>
                    </dublin_core>
                    <qualified_dublin_core>
                        <title_alternative></title_alternative>
                        <description_abstract></description_abstract>
                        <created></created>
                        <issued></issued>
                        <hasformat></hasformat>
                        <isformatof></isformatof>
                        <format_medium></format_medium>
                        <format_extent></format_extent>
                        <license></license>
                        <rightsholder></rightsholder>
                        <isreferencedby></isreferencedby>
                    </qualified_dublin_core>
                </item>
                <item id="2">
                    <asset_id>10062</asset_id>
                    <app_id>1</app_id>
                    <provider_id></provider_id>
                    <owner_id>av-user-naa</owner_id>
                    <group_id>beeldengeluid</group_id>
                    <videotimestamp>2004-09-10 22:22:08</videotimestamp>
                    <videotimestampmodified></videotimestampmodified>
                    <play_restriction_start></play_restriction_start>
                    <play_restriction_end></play_restriction_end>
                    <reference_id></reference_id>
                    <isprivate>FALSE</isprivate>
                    <is_protected>FALSE</is_protected>
                    <created>2008-04-07 09:53:44</created>
                    <changed>2008-04-17 23:44:44</changed>
                    <dublin_core>
                        <type>Video</type>
                        <language>EN</language>
                        <title>interculturele-mpeg1-vhs.mpg</title>
                        <creator>naa</creator>
                        <publisher>naa</publisher>
                        <description>this interculturele-mpeg1-vhs.mpg of naa was n/naa/mpeg/interculturele-mpeg1-vhs.mpg</description>
                        <date>2004-09-10 22:22:08</date>
                        <format></format>
                        <subject></subject>
                        <contributor></contributor>
                        <identifier></identifier>
                        <source></source>
                        <relation></relation>
                        <coverage_temporal></coverage_temporal>
                        <coverage_spatial></coverage_spatial>
                        <rights></rights>
                    </dublin_core>
                    <qualified_dublin_core>
                        <title_alternative></title_alternative>
                        <description_abstract></description_abstract>
                        <created></created>
                        <issued></issued>
                        <hasformat></hasformat>
                        <isformatof></isformatof>
                        <format_medium></format_medium>
                        <format_extent></format_extent>
                        <license></license>
                        <rightsholder></rightsholder>
                        <isreferencedby></isreferencedby>
                    </qualified_dublin_core>
                </item>
               ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- didn't define 'asset_id' since we use an attribute for that -->
            <xs:element ref="app_id"/>
            <xs:element ref="provider_id" minOccurs="0"/>
            <xs:element ref="owner_id"/>
            <xs:element ref="group_id"/>
            <xs:element ref="videotimestamp"/>
            <xs:element ref="videotimestampmodified"/>
            <xs:element ref="play_restriction_start" minOccurs="0"/>
            <xs:element ref="play_restriction_end" minOccurs="0"/>
            <xs:element ref="reference_id" minOccurs="0"/>
            <!-- for element 'isprivate' the type is defined in this schema,
                the 'type' attribute in the XML document is not needed.
                Other boolean elements, like 'is_favorite' or 'is_external' have an underscore. 
                To be consistent we should use it here also, or drop the 'is_' prefix completely. I would prefer that. 
                It is an indictator for storing a boolean value, but that is already denifed in the schema -->
            <xs:element name="private">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element ref="protected" minOccurs="0"/><!-- was 'is_protected', made optional because element is missing in /collection/$coll_id/asset [GET] response  -->
            <xs:element ref="mediafile_duration"/>
            <xs:element ref="mediafile_container_type"/>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="unappropriate">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- I assume element 'is_unappropiate' is in the example XML by mistake -->
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="external">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="empty_asset">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element ref="viewed"/>
            <xs:element ref="played"/>
            <xs:element name="asset_property_is_hidden">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="favorite">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="granted">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url_still_oai">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url_still">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'has_' prefix -->
            <xs:element name="streamable_mediafiles">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="metadata">
                <xs:complexType>
                    <xs:sequence>
                        <!-- reference external xsd for czp:, dc:, qdc: namespaces -->
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mediafiles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mediafile" type="MediafileType" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <!-- when attribute 'id' is used, element 'asset_id' is superfluous -->
        <xs:attribute name="id">
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- /asset/$asset_id [GET] and /assets [GET] -->
    <xs:complexType name="AssetDetailsType">
        <xs:annotation>
            <xs:documentation>
                /asset/$asset_id [GET]
                <![CDATA[
                <item id="1">
                    <asset_id>M9FyEFTVy0zFzpbOv7DaEH4U</asset_id>
                    <app_id>4</app_id>
                    <provider_id></provider_id>
                    <owner_id>owner</owner_id>
                    <group_id></group_id>
                    <videotimestamp>2009-06-11 16:07:38</videotimestamp>
                    <videotimestampmodified>2009-09-23 14:40:54</videotimestampmodified>
                    <play_restriction_start></play_restriction_start>
                    <play_restriction_end></play_restriction_end>
                    <reference_id></reference_id>
                    <isprivate>FALSE</isprivate>
                    <mediafile_duration>00:00:45.7</mediafile_duration>
                    <mediafile_container_type>asf</mediafile_container_type>
                    <is_unappropiate>FALSE</is_unappropiate>
                    <is_unappropriate>FALSE</is_unappropriate>
                    <is_external>FALSE</is_external>
                    <viewed>1631</viewed>
                    <played>97</played>
                    <is_empty_asset>FALSE</is_empty_asset>
                    <is_protected>DOMAIN_REALM</is_protected>
                    <has_streamable_mediafiles>FALSE</has_streamable_mediafiles>
                    <dublin_core>
                        <type></type>
                        <format></format>
                        <language>nl</language>
                        <title>Test title</title>
                        <creator></creator>
                        <publisher></publisher>
                        <subject></subject>
                        <description>Test description</description>
                        <contributor></contributor>
                        <date></date>
                        <identifier></identifier>
                        <source></source>
                        <relation></relation>
                        <coverage_temporal></coverage_temporal>
                        <coverage_spatial></coverage_spatial>
                        <rights></rights>
                    </dublin_core>
                    <qualified_dublin_core>
                        <title_alternative></title_alternative>
                        <description_abstract></description_abstract>
                        <created></created>
                        <issued></issued>
                        <hasformat></hasformat>
                        <isformatof></isformatof>
                        <format_medium></format_medium>
                        <format_extent></format_extent>
                        <license></license>
                        <rightsholder></rightsholder>
                        <isreferencedby></isreferencedby>
                    </qualified_dublin_core>
                    <czp>
                        <schemanaam>http://your_wle/</schemanaam>
                        <identificatiecode>http://your_wle/asset/M9FyEFTVy0zFzpbOv7DaEH4U</identificatiecode>
                        <titel></titel>
                        <taal></taal>
                        <beschrijving></beschrijving>
                        <sleutelwoord></sleutelwoord>
                        <aggregatieniveau>niveau</aggregatieniveau>
                        <versie>x</versie>
                        <status>final</status>
                        <soort_leermateriaal>Evaluatie- en toetsmateriaal</soort_leermateriaal>
                        <beoogde_eindgebruiker>Auteur</beoogde_eindgebruiker>
                        <context>VVE</context>
                        <beoogde_leeftijdsgroep></beoogde_leeftijdsgroep>
                        <kosten>nee</kosten>
                        <auteursrechten>Ja</auteursrechten>
                        <omschrijving_rechten>x</omschrijving_rechten>
                        <classificatie>x</classificatie>
                    </czp>
                    <ega_view_url>http://your_ega_view_url/viewasset/M9FyEFTVy0zFzpbOv7DaEH4U</ega_view_url>
                    <is_favorite>FALSE</is_favorite>
                    <granted>TRUE</granted>
                    <vpx_still_url>http://your_vpx/still/Em4fKZU6iiKuuWrgbcQ86vPR</vpx_still_url>
                    <ega_still_url>http://your_still_url/M9FyEFTVy0zFzpbOv7DaEH4U</ega_still_url>
                    <mediafiles>
                        <mediafile id="1">
                            <mediafile_id>9PIxRij3YGRgenkyjwOT7zyS</mediafile_id>
                            <asset_id>M9FyEFTVy0zFzpbOv7DaEH4U</asset_id>
                            <app_id>4</app_id>
                            <owner_id>owner</owner_id>
                            <group_id></group_id>
                            <is_original_file>TRUE</is_original_file>
                            <is_downloadable>FALSE</is_downloadable>
                            <filename>testfilename.wmv</filename>
                            <uri></uri>
                            <transcode_profile_id></transcode_profile_id>
                            <tool></tool>
                            <command></command>
                            <file_extension></file_extension>
                            <is_protected>FALSE</is_protected>
                            <created>2009-09-22 14:42:03</created>
                            <changed>2009-09-23 14:40:02</changed>
                            <transcode_inherits_acl>FALSE</transcode_inherits_acl>
                            <mediafile_source></mediafile_source>
                            <tag>test</tag>
                            <is_streamable>FALSE</is_streamable>
                            <is_still>FALSE</is_still>
                            <metadata>
                                <video_codec>wmv3</video_codec>
                                <colorspace>yuv420p</colorspace>
                                <width>384</width>
                                <height>288</height>
                                <fps>25</fps>
                                <audio_codec>wmav2</audio_codec>
                                <sample_rate>44100</sample_rate>
                                <channels>2</channels>
                                <file_duration>00:00:45.7</file_duration>
                                <container_type>asf</container_type>
                                <bitrate>1023</bitrate>
                                <bpp>0.37</bpp>
                                <filesize>5851382</filesize>
                                <mime_type>video/x-ms-asf</mime_type>
                                <created>2009-10-12 16:48:33</created>
                                <changed>2009-10-12 16:48:33</changed>
                                <is_hinted>FALSE</is_hinted>
                                <is_inserted_md>FALSE</is_inserted_md>
                        </metadata>
                        <ega_download_url></ega_download_url>
                        <ega_play_url>http://your_ega_play_url/play/M9FyEFTVy0zFzpbOv7DaEH4U/9PIxRij3YGRgenkyjwOT7zyS/19697</ega_play_url>
                        <ega_stream_url>http://your_stream_url/M9FyEFTVy0zFzpbOv7DaEH4U/9PIxRij3YGRgenkyjwOT7zyS/19697</ega_stream_url>
                    </mediafile>
                    <mediafile id="2">
                        <mediafile_id>2vi8R0dDLXyCKE3vC6qYL2bG</mediafile_id>
                        <asset_id>M9FyEFTVy0zFzpbOv7DaEH4U</asset_id>
                        <app_id>4</app_id>
                        <owner_id>owner</owner_id>
                        <group_id></group_id>
                        <is_original_file>FALSE</is_original_file>
                        <is_downloadable>FALSE</is_downloadable>
                        <filename>testvideo.flv</filename>
                        <uri></uri>
                        <transcode_profile_id>2</transcode_profile_id>
                        <tool>ffmpeg</tool>
                        <command>videobitrate:200000;size:320x240;audiosamplingrate:22050;maintain_aspect_ratio:yes;padding:no</command>
                        <file_extension>flv</file_extension>
                        <is_protected>FALSE</is_protected>
                        <created>2009-09-22 14:42:30</created>
                        <changed>2009-09-22 15:19:49</changed>
                        <transcode_inherits_acl>FALSE</transcode_inherits_acl>
                        <mediafile_source></mediafile_source>
                        <tag>transcoded</tag>
                        <is_streamable>FALSE</is_streamable>
                        <is_still>FALSE</is_still>
                        <metadata>
                            <video_codec>flv</video_codec>
                            <colorspace>yuv420p</colorspace>
                            <width>320</width>
                            <height>240</height>
                            <fps>25</fps>
                            <audio_codec>mp3</audio_codec>
                            <sample_rate>22050</sample_rate>
                            <channels>1</channels>
                            <file_duration>00:00:45.6</file_duration>
                            <container_type>flv</container_type>
                            <bitrate>200</bitrate>
                            <bpp>0.1</bpp>
                            <filesize>1828989</filesize>
                            <mime_type>video/x-flv</mime_type>
                            <created>2009-10-12 16:48:33</created>
                            <changed>2009-10-12 16:48:33</changed>
                            <is_hinted>FALSE</is_hinted>
                            <is_inserted_md>TRUE</is_inserted_md>
                        </metadata>
                        <ega_download_url></ega_download_url>
                        <ega_play_url>http://your_ega_play_url/play/M9FyEFTVy0zFzpbOv7DaEH4U/2vi8R0dDLXyCKE3vC6qYL2bG/19697.flv</ega_play_url>
                        <ega_stream_url>http://your_stream_url/M9FyEFTVy0zFzpbOv7DaEH4U/2vi8R0dDLXyCKE3vC6qYL2bG/19697.flv</ega_stream_url>
                    </mediafile>
                </mediafiles>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="asset_id"/>
            <xs:element ref="app_id"/>
            <xs:element ref="provider_id"/>
            <xs:element ref="owner_id"/>
            <xs:element ref="group_id"/>
            <xs:element ref="videotimestamp"/>
            <xs:element ref="videotimestampmodified"/>
            <xs:element ref="play_restriction_start"/>
            <xs:element ref="play_restriction_end"/>
            <xs:element ref="reference_id"/>
            <xs:element ref="private"/><!-- was 'isprivate' -->
            <xs:element ref="mediafile_duration"/>
            <xs:element ref="mediafile_container_type"/>
            <xs:element ref="unappropriate"/><!-- was 'is_unappropiate'/'is_unappropriate' -->
            <xs:element ref="external"/><!-- was 'is_external' -->
            <xs:element ref="viewed"/>
            <xs:element ref="played"/>
            <xs:element ref="empty_asset"/><!-- was 'is_empty_asset' -->
            <xs:element ref="protected"/><!-- was 'is_protected' -->
            <xs:element ref="streamable_mediafiles"/><!-- was 'has_streamable_mediafiles' -->            
            <xs:element name="dublin_core" type="DublinCoreType"/>
            <xs:element name="qualified_dublin_core" type="QualifiedDublinCoreType"/>
            <xs:element name="czp" type="CzpType"/>
            <xs:element ref="ega_view_url"/>
            <xs:element ref="favorite"/><!-- was 'is_favorite' -->
            <xs:element ref="granted"/>
            <xs:element ref="vpx_still_url"/>
            <xs:element ref="ega_still_url"/>          
            <xs:element ref="mediafiles"/>
            
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/acl [GET] and [POST] and /collection/$coll_id/acl [GET] and [POST]-->
    <xs:complexType name="AclType">
        <xs:annotation>
            <xs:documentation>
                /asset/$asset_id/acl [GET] and /collection/$coll_id/acl [GET]
                <![CDATA[
                <item id="1">
                    <acl_app>5</acl_app>
                </item>
                ]]>
                Should be rewritten to ('value' is 'app_id'?):
                <![CDATA[
                <item id="1">
                    <acl_app>
                        <value>5</value>
                    </acl_app>
                </item>
                ]]>
                                
                /asset/$asset_id/acl [POST] and /collection/$coll_id/acl [POST]
                <![CDATA[
                <item id="1">
                    <acl_app>
                        <value>5</value>
                        <result>success</result>
                        <result_id>601</result_id>
                        <result_description></result_description>
                    </acl_app>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- what more (optional) elements to expect? -->
            <xs:element ref="acl_app"/>
            <!-- merge GET and POST responses -->
            <xs:element ref="app_id"/>
            <xs:element ref="result"/>
            <xs:element ref="resultId"/><!-- was 'result_id' but 'resultId' is already in use in 3.0.x output -->
            <xs:element ref="resultDescription"/><!-- was 'result_description' but 'resultDescription' is already in use in 3.0.x output -->
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/collection [GET] and /collection [GET] and /collection/$coll_id [GET] -->
    <xs:complexType name="CollectionType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <coll_id>EjDv4oI50sjPu01WXdXH5Eva</coll_id>
                    <title>CDE Collectieup</title>
                    <description>Collectie CDE</description>
                    <app_id>5</app_id>
                    <owner_id>SURFgroepen.smibuildings</owner_id>
                    <group_id>default</group_id>
                    <isprivate>FALSE</isprivate>
                    <private>FALSE</private>
                    <public>TRUE</public>
                    <category>FALSE</category>
                    <created>2009-05-27 10:37:43</created>
                    <changed>2009-09-18 12:04:31</changed>
                    <is_unappropriate>FALSE</is_unappropriate>
                    <public_assign>FALSE</public_assign>
                    <numofvideos>1</numofvideos>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- don't know which elements can be empty and are optional -->
            <xs:element ref="coll_id"/>
            <xs:element ref="title"/>
            <xs:element ref="description"/>
            <xs:element ref="app_id"/>
            <xs:element ref="owner_id"/>
            <xs:element ref="group_id"/>
            <xs:element ref="private"/><!-- removed 'isprivate' element -->
            <xs:element ref="public"/>
            <xs:element ref="category"/>
            <xs:element ref="created"/>
            <xs:element ref="changed"/>
            <xs:element ref="unappropriate"/><!-- was 'is_unappropriate' -->
            <xs:element ref="public_assign"/>
            <xs:element ref="numofvideos"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /asset/$asset_id/joblist [GET] -->
    <xs:complexType name="JobDetailsType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <id>9598</id>
                    <owner>usertest</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>-1</priority>
                    <job_type>ANALYSE</job_type>
                    <started>17-06-2009 20:04</started>
                    <started_unix>1245261872</started_unix>
                    <error_description>FFmpeg version SVN-r15936, Copyright (c) 2000-2008 Fabrice Bellard, et al.
                        configuration: --enable-libx264 --enable-gpl --enable-pthreads --enable-libmp3lame --enable-libfaac --enable-libfaad --enable-libvorbis --enable-libtheora --enable-libgsm --enable-libxvid
                        libavutil     49.12. 0 / 49.12. 0
                        libavcodec    52. 3. 0 / 52. 3. 0
                        libavformat   52.23. 1 / 52.23. 1
                        libavdevice   52. 1. 0 / 52. 1. 0
                            built on Nov 26 2008 10:17:33, gcc: 4.1.2 20061115 (prerelease) (Debian 4.1.1-21)

                        Seems stream 0 codec frame rate differs from container frame rate: 1000.00 (1000/1) -&gt; 15.00 (15/1)
                        Input #0, flv, from '/mnt/naspcd1/vpx-acc/data/1/1zVCthfDab50KwdksbsqGJU7':
                        Duration: 00:00:20.40, start: 0.000000, bitrate: 40 kb/s
                        Stream #0.0: Video: flv, yuv420p, 352x288, 15.00 tb(r)
                        Stream #0.1: Audio: mp3, 22050 Hz, stereo, s16, 40 kb/s
                        At least one output file must be specified
                    </error_description>
                </item>
                <item id="2">
                    <id>9594</id>
                    <owner>usertest</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>0</priority>
                    <job_type>UPLOAD</job_type>
                    <started>17-06-2009 20:01</started>
                    <started_unix>1245261706</started_unix>
                    <error_description></error_description>
                </item>
                <item id="3">
                    <id>9595</id>
                    <owner>usertest</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>0</priority>
                    <job_type>ANALYSE</job_type>
                    <started>17-06-2009 20:03</started>
                    <started_unix>1245261781</started_unix>
                    <error_description>FFmpeg version SVN-r15936, Copyright (c) 2000-2008 Fabrice Bellard, et al.
                        configuration: --enable-libx264 --enable-gpl --enable-pthreads --enable-libmp3lame --enable-libfaac --enable-libfaad --enable-libvorbis --enable-libtheora --enable-libgsm --enable-libxvid
                        libavutil     49.12. 0 / 49.12. 0
                        libavcodec    52. 3. 0 / 52. 3. 0
                        libavformat   52.23. 1 / 52.23. 1
                        libavdevice   52. 1. 0 / 52. 1. 0
                            built on Nov 26 2008 10:17:33, gcc: 4.1.2 20061115 (prerelease) (Debian 4.1.1-21)
                        Input #0, mov,mp4,m4a,3gp,3g2,mj2, from '/mnt/naspcd1/vpx-acc/data/m/mHFdpBJz9dTK911fRpI14MKK':
                        Duration: 00:00:20.00, start: 0.000000, bitrate: 5863 kb/s
                        Stream #0.0(eng): Video: qtrle, rgb32, 640x480, 24.00 tb(r)
                        Stream #0.1(eng): Audio: pcm_s16be, 44100 Hz, stereo, s16, 1411 kb/s
                        At least one output file must be specified
                    </error_description>
                </item>
                <item id="4">
                    <id>9596</id>
                    <owner>usertest</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>0</priority>
                    <job_type>TRANSCODE</job_type>
                    <started>17-06-2009 20:03</started>
                    <started_unix>1245261811</started_unix>
                    <error_description></error_description>
                </item>
                <item id="5">
                    <id>9597</id>
                    <owner>usertest</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>0</priority>
                    <job_type>STILL</job_type>
                    <started>17-06-2009 20:05</started>
                    <started_unix>1245261932</started_unix>
                    <error_description></error_description>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="job_id"/><!-- was 'id' (change to jobId ?) -->
            <xs:element ref="owner"/>
            <xs:element ref="status"/>
            <xs:element ref="progress"/>
            <xs:element ref="priority"/>
            <xs:element ref="job_type"/>
            <xs:element ref="started"/>
            <xs:element ref="started_unix"/>
            <xs:element ref="error_description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/mediafile [GET] -->
    <!-- defined in 'mediafileDetailsType' -->
    
    <!-- /asset/$asset_id/mediafile/create [POST] -->
    <xs:complexType name="MediafileType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <mediafile_id>a1RSbqQNSieYbDTgXS4zlW7G</mediafile_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="mediafile_id"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /asset/$asset_id/metadata [POST] -->
    <xs:complexType name="Content_MetadataType"><!-- change this typename ! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <description>test description</description>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- only submitted value shown in response?! in example 'description' was created -->
            <!-- what possible other values are there? -->
            <xs:element ref="description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/play [GET] and /asset/$asset_id/still [GET]-->
    <xs:complexType name="LinkType">
        <xs:annotation>
            <xs:documentation>
                /asset/$asset_id/play [GET]
                <![CDATA[
                <item id="1">
                    <output>http://mediamosa.local/download/T2hLaHNlDROR6UTYJFn2b8Cz/Filename_not_set</output>
                    <content_type></content_type>
                    <ticket_id>T2hLaHNlDROR6UTYJFn2b8Cz</ticket_id>
                </item>
                ]]>
                /asset/$asset_id/still [GET]
                <![CDATA[
                <item id="1">
                    <output>http://download.mediamosa.local/still/n2Ybk1bPL6jRgkSSLUiYxfLn</output>
                    <content_type></content_type>
                    <ticket_id>n2Ybk1bPL6jRgkSSLUiYxfLn</ticket_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="output"/>
            <xs:element ref="content_type" minOccurs="0"/>
            <xs:element ref="ticket_id"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /asset/$asset_id/still/create [POST] -->
    <xs:complexType name="__JobType"><!-- change this typename! all /create request return similar response, use a generic ObjectType?! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <job_id>15839</job_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="job_id"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/still/upload [POST] and [PUT] -->
    <xs:complexType name="__StillType"><!-- change this typename! all /create request return similar response, use a generic ObjectType?! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item>
                    <still_id>f608OtH9CB9R3Y4ofiKbJxLo</still_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="still_id"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/$asset_id/supplement [GET] -->
    <xs:complexType name="SupplementDetailsType">
        <xs:annotation>
            <xs:documentation>
                /asset/$asset_id/supplement [GET]
                <![CDATA[
                <item id="1">
                    <supplement_id>w27fFVLXbXIQqUuiTAqDe7Hx</supplement_id>
                    <asset_id>S2Eg3Fzh2Rdw5dLbArmgqRKr</asset_id>
                    <tag></tag>
                    <oai_prefix></oai_prefix>
                    <oai_namespaceuri></oai_namespaceuri>
                    <oai_schemalocation></oai_schemalocation>
                    <created>2010-04-08 15:42:41</created>
                    <changed>2010-04-08 15:50:54</changed>
                    <supplement_base64>YmxhYmxh</supplement_base64>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="supplement_id"/>
            <xs:element ref="asset_id"/>
            <xs:element ref="tag" minOccurs="0"/>
            <xs:element ref="oai_prefix" minOccurs="0"/>
            <xs:element ref="oai_namespaceuri" minOccurs="0"/>
            <xs:element ref="oai_schemalocation" minOccurs="0"/>
            <xs:element ref="created"/>
            <xs:element ref="changed"/><!-- can this be empty? (minOccurs=0) -->
            <xs:element ref="supplement_base64"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /asset/$asset_id/supplement/create [POST] -->
    <xs:complexType name="__SupplementType"><!-- change this typename! all /create request return similar response, use a generic ObjectType?! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <supplement_id>w27fFVLXbXIQqUuiTAqDe7Hx</supplement_id>
                </item>            
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="supplement_id"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/create [POST] -->
    <xs:complexType name="__AssetType"><!-- change this typename! all /create request return similar response, use a generic ObjectType?! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <asset_id>q1WmtebDr9F8eberUIjKrhTa</asset_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="asset_id"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /asset/delete [POST] -->
    <xs:complexType name="DeletedAssetType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <asset_id>S2Eg3Fzh2Rdw5dLbArmgqRKr</asset_id>
                    <result>error</result>
                    <result_id>709</result_id>
                    <result_description>MM - there are still 4 mediafile(s) present in this asset.</result_description>
                </item>
                <item id="2">
                    <asset_id>Eg3Fzh2Rdw5dLbArmgqRKrer</asset_id>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="asset_id"/>
            <xs:element ref="result"/>
            <xs:element ref="resultId"/><!-- was 'result_id' -->
            <xs:element ref="resultDescription" minOccurs="0"/><!-- was 'result_description' -->           
        </xs:sequence>
    </xs:complexType>

    <!-- /asset/mediafile/acl [POST] -->
    <xs:complexType name="__AclRuleType"><!-- change this typename! How does it differ from AclType? -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <asset_id>7pAkDsceysAZPo0q3PhjtBE1</asset_id>
                    <mediafile_id>7hkjCCq3CxSXNrGy2vgVnorI</mediafile_id>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                    <acl_app>
                        <value>1</value>
                        <result>success</result>
                        <result_id>601</result_id>
                        <result_description></result_description>
                    </acl_app>
                </item>
                <item id="2">
                    <asset_id>7pAkDsceysAZPo0q3PhjtBE1</asset_id>
                    <mediafile_id>GqrqS9UYfyKAsrW73mPVAyRH</mediafile_id>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                    <acl_app>
                        <value>1</value>
                        <result>success</result>
                        <result_id>601</result_id>
                        <result_description></result_description>
                    </acl_app>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="asset_id"/>
            <xs:element ref="mediafile_id"/>
            <xs:element ref="result"/>
            <xs:element ref="resultId"/><!-- was 'result_id' -->
            <xs:element ref="resultDescription"/><!-- was 'result_description' -->
            <xs:element name="acl_app" type="AclType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /autorisation_group/* requests and responses combined -->
    <xs:complexType name="AuthorisationGroupType">
        <xs:annotation>
            <xs:documentation>
                /autorisation_group [GET]
                <![CDATA[
                <item id="1">
                    <acl_group_name>@ACADEMIA.group</acl_group_name>
                    <acl_group_type>REALM</acl_group_type>
                </item>
                <item id="2">
                    <acl_group_name>@test.group</acl_group_name>
                    <acl_group_type>REALM</acl_group_type>
                </item>
                <item id="3">
                    <acl_group_name>ACADEMIA.group</acl_group_name>
                    <acl_group_type>DOMAIN</acl_group_type>
                </item>
                <item id="4">
                    <acl_group_name>test.domain</acl_group_name>
                    <acl_group_type>DOMAIN</acl_group_type>
                </item>
                <item id="5">
                    <acl_group_name>test.group</acl_group_name>
                    <acl_group_type>DOMAIN</acl_group_type>
                </item>
                ]]>
                
                /autorisation_group/$groupname [GET]
                <![CDATA[
                <item id="1">
                    <acl_group_name>ACADEMIA.group</acl_group_name>
                    <acl_group_type>DOMAIN</acl_group_type>
                    <acl_group_id>14</acl_group_id>
                </item>
                ]]>
                
                /autorisation_group/create [POST]
                <![CDATA[
                <item id="1">
                    <acl_group_name>test.group</acl_group_name>
                    <acl_group_type>DOMAIN</acl_group_type>
                    <acl_group_id>149</acl_group_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="acl_group_name"/>
            <xs:element ref="acl_group_type"/>
            <xs:element ref="acl_group_id" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /autorisation_group/$groupname/hostname/* requests and responses combined -->
    <xs:complexType name="AuthorizationGroupHostnameType">
        <xs:annotation>
            <xs:documentation>
                /autorisation_group/$groupname/hostname/create [POST] and /autorisation_group/$groupname/hostname/delete [POST]
                <![CDATA[
                <item id="1">
                    <hostname>hostname.test</hostname>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                </item>
                ]]>
                
                /autorisation_group/$groupname/hostname [GET]
                <![CDATA[
                <item id="1">
                    <hostname>hostname.test</hostname>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="hostname"/>
            <xs:element ref="result" minOccurs="0"/>
            <xs:element ref="resultId" minOccurs="0"/><!-- was 'result_id' -->
            <xs:element ref="resultDescription" minOccurs="0"/><!-- was 'result_description' -->
        </xs:sequence>
    </xs:complexType>

    <!-- /change_ownership [POST] -->
    <xs:complexType name="__"><!-- don't knonw what response info about? -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <mediafile>1</mediafile>
                </item>
                <item id="2">
                    <asset>1</asset>
                </item>
                <item id="3">
                    <collection>3</collection>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            
            
        </xs:sequence>
    </xs:complexType>
    
    <!-- /collection/$coll_id [POST] -->
    <!-- don't know what this is about?! -->
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            <request_result>success</request_result>
            <request_result_description></request_result_description>
            <request_result_id>601</request_result_id>
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <!-- /collection/$coll_id/asset/count [GET] -->
    <xs:complexType name="__CollectionAssetCount"><!-- change this typename! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <numofvideos>3</numofvideos>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:sequence>
                <xs:element ref="numofvideos"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <!-- /collection/$coll_id/asset_relation [POST]  and /collection/$coll_id/asset_relation/delete [POST] -->
    <xs:complexType name="AssetRelationType"><!-- maybe this can be done generic, similar response in other /create and /update calls -->
        <xs:annotation>
            <xs:documentation>
                /collection/$coll_id/asset_relation [POST]
                <![CDATA[
                <item id="1">
                    <coll_id>b1Tb9eoIgOeSLZ9cGO04rPej</coll_id>
                    <asset_id>X2OJSIuWKPUZUsdSNlsE8Tcx</asset_id>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                </item>
                <item id="2">
                    <coll_id>b1Tb9eoIgOeSLZ9cGO04rPej</coll_id>
                    <asset_id>x1AjaVW8gVjZjsKmQRWsF9uM</asset_id>
                    <result>success</result>
                    <result_id>601</result_id>
                    <result_description></result_description>
                </item>
                ]]>
                
                /collection/$coll_id/asset_relation/delete [POST] <!-- why not include result* elements also?!, or set these to optional -->
                <![CDATA[
                <item id="1">
                    <asset_id>X2OJSIuWKPUZUsdSNlsE8Tcx</asset_id>
                    <coll_id>b1Tb9eoIgOeSLZ9cGO04rPej</coll_id>
                </item>
                <item id="2">
                    <asset_id>x1AjaVW8gVjZjsKmQRWsF9uM</asset_id>
                    <coll_id>b1Tb9eoIgOeSLZ9cGO04rPej</coll_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="coll_id"/>
            <xs:element ref="asset_id"/>
            <xs:element ref="result"/>
            <xs:element ref="resultId"/><!-- was 'result_id' -->
            <xs:element ref="resultDescription" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- /collection/$coll_id/delete [POST] -->
    <!-- don't know what this is about?! -->
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            <request_result>success</request_result>
            <request_result_id>601</request_result_id> 
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <!-- /collection/$coll_id/favorites/count [GET] -->
    <!-- I guess this is the 'item_count' in the 'header' element  -->
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            <item_count>0</item_count>
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <!-- /collection/count [GET] -->
    <xs:annotation>
        <xs:documentation>
            <![CDATA[
            <header>
                <item_count>0</item_count>
                <item_count_total>1</item_count_total>
                <item_offset>0</item_offset>
            </header>
            ]]>
        </xs:documentation>
    </xs:annotation>
    
    <!-- /collection/create [POST] -->
    <xs:complexType name="__CollectionType"><!-- change this typename! all /create request return similar response, use a generic ObjectType?! -->
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <item id="1">
                    <coll_id>3</coll_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="coll_id"/>
        </xs:sequence>
    </xs:complexType>
    
    <!--  -->
    <xs:complexType name="___">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                
                ]]>
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>



    <!-- /errorcodes [GET] -->
    <xs:complexType name="ErrorcodeType">
        <xs:annotation>
            <xs:documentation>
                /errorcodes [GET]
                <![CDATA[
                <item>
                    <name>HTTP_NOT_FOUND</name>
                    <code>404</code>
                    <message>Page not found: @uri (method: @method, parameters: @params)</message>
                </item>
                <item>
                    <name>ERRORCODE_OKAY</name>
                    <code>601</code>
                    <message/>
                </item>
                <item>
                    <name>ERRORCODE_TIME_RESTRICTION_START</name>
                    <code>602</code>
                    <message>PP - time_restriction_start error: @date (@timestamp)</message>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="name"/>
            <xs:element ref="code"/>
            <xs:element ref="message" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MediafileType">
        <xs:sequence>
            <!-- didn't define 'mediafile_id' since we use an attribute for that -->
            <xs:element ref="asset_id"/>
            <xs:element name="mediafile_id_source">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tag">
                <xs:simpleType>
                    <!-- not sure what to expect here, assumed a string value -->
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element ref="app_id"/>
            <xs:element name="owner_id">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="group_id">
                <xs:simpleType>
                    <!-- I assumed this would be a string not an int, right? -->
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="original_file">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="downloadable">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="streamable">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="still">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filename">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="uri">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="transcode_profile_id">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="tool">
                <xs:simpleType>
                    <!-- I assumed this would be a string, right? -->
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="command">
                <xs:simpleType>
                    <!-- I assumed this would be a string, right? -->
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="file_extension">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <!-- see comments for element 'private', dropped 'is_' prefix -->
            <xs:element name="protected">
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="created">
                <!-- for element 'created' the type is defined in this schema,
                    the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:dateTime"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="changed">
                <!-- for element 'changed' the type is defined in this schema,
                    the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:dateTime"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="transcode_inherits_acl">
                <!-- for element 'transcode_inherits_acl' the type is defined in this schema,
                the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <!--
            metadata
            -->
            <xs:element name="url_download">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url_stream">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="url_play">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response_object_available">
                <!-- for element 'response_object_available' the type is defined in this schema,
                    the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response_plain_available">
                <!-- for element 'response_plain_available' the type is defined in this schema,
                    the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="response_metafile_available">
                <!-- for element 'response_metafile_available' the type is defined in this schema,
                    the 'type' attribute in the XML document is not needed -->
                <xs:simpleType>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id">
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <!-- possible values should be listed here -->
                    <xs:enumeration value="media"/>
                    <xs:enumeration value="thumbnail"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- /user/$user_id/joblist [GET] -->
    <xs:complexType name="JoblistType">
        <xs:annotation>
            <xs:documentation>
                /user/$user_id/joblist [GET]
                <![CDATA[
                <item id="1">
                    <id>10</id>
                    <owner>admin</owner>
                    <status>FINISHED</status>
                    <progress>1.000</progress>
                    <priority>-1</priority>
                    <job_type>ANALYSE</job_type>
                    <started>07-04-2010 16:11</started>
                    <started_unix>1270649471</started_unix>
                    <error_description></error_description>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="id"/>
            <xs:element ref="owner"/>
            <xs:element ref="status"/>
            <xs:element ref="progress"/>
            <xs:element ref="priority"/>
            <xs:element ref="job_type"/>
            <xs:element ref="started"/>
            <xs:element ref="started_unix"/>
            <xs:element ref="error_description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- /mediafile/$mediafile_id/uploadticket/create [POST] -->
    <xs:complexType name="UploadTicketType">
        <xs:annotation>
            <xs:documentation>
                /mediafile/$mediafile_id/uploadticket/create [POST]
                <![CDATA[
                <item id="1">
                    <action>http://upload.mediamosa.local/mediafile/upload?upload_ticket=F1LVMTUCNi5kjXNbHMZPFwzD&X-Progress-ID=12345</action>
                    <uploadprogress_url>http://upload.mediamosa.local/mediafile/uploadprogress?id=12345</uploadprogress_url>
                    <ticket_id>8474096 Z1ZmZMMNhLHIfGj9cgSvAd2R</ticket_id>
                    <progress_id>1234567</progress_id>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="action"/>
            <xs:element ref="uploadprogress_url"/>
            <xs:element ref="ticket_id"/>
            <xs:element ref="progress_id"/>
        </xs:sequence>
        
    </xs:complexType>
    
    <!-- /version [GET] -->
    <xs:complexType name="VersionType">
        <xs:annotation>
            <xs:documentation>
                /version [GET]
                <![CDATA[
                <item>
                    <version>3.0.5</version>
                    <build>1775</build>
                    <info/>
                </item>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="version"/>
            <xs:element ref="build"/>
            <xs:element ref="info" minOccurs="0"/>
        </xs:sequence>      
    </xs:complexType>
    
</xs:schema>
